.emptyContent{
    text-align: center;
    color: #808080;
    font-size: 22px;
    margin: 200px auto;
}

@media screen and (max-width: 640px){
    .emptyContent{
        /* margin-left: 80px; */
        margin: 80px auto; 
        /* padding-left: 0px;  */
    }
  }