header{
    max-width: 100%;
    background-color: #0064EB;
    
}
form {
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
    padding: 16px 41px;
    display: grid;
    grid-template-columns: 40px 1fr;
  }
  input, button {
    border: none;
    outline: none;
    border-radius: 3px;
  }
  input {
    width: 500px;
    height: 40px;
    padding-left: 35px;
    margin-left: 22px;
    position: relative;
  }
.searchIcon{
  position: absolute;
  color: rgb(196, 185, 185);
  top: 27px;
  left: 115px;
}

.icon {
  width: 40px;
  height: 40px;
  color:  white;
}

.content{
  display: flex;
  padding-right: 56px;
}

/* .loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 200px
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

@media screen and (max-width: 780px){
  .content{
      flex-wrap: wrap;
      text-align: center;
      padding: 0px 30px;
  }
  input{
    width: 300px;
  }
}

@media screen and (max-width: 470px){
  input{
    width: 200px;
  }
}

@media screen and (max-width: 370px){
  input{
    width: 150px;
  }
}