.repoContainer{
    width: 100%;
}
.title{
    font-size: 32px;
    font-weight: 600;
    margin: 28px auto 29px auto;
}

.pageNumbers{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.pageNumbers li{
    padding: 10px;
}

.pageNumbers button{
    background-color: transparent;
}

.active{
    background-color: #0064EB;
    color: white;
}