.repoContainer{
    width: 100%;
}
.title{
    font-size: 32px;
    font-weight: 600;
    margin: 28px auto 29px auto;
}

.pageNumbers{
    list-style: none;
    display: flex;
}

.pageNumbers li{
    padding: 10px;
}

.pageNumbers button{
    background-color: transparent;
}

.active{
    background-color: #0064EB;
    color: white;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 960px){
    .pagination{
        display: block;
        text-align: center;
    }
    .showItems{
        text-align: left;
        margin-left: 25px;
    }
    .pageNumbers{
        padding-inline-start: 0px;
    }
}