.userCard{
    margin: 39px 96px auto 57px;
    max-width: 280px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.userName{
    margin-top: 29px;
    font-size: 26px;
    font-weight: 600;
}

.userLogin{
    margin: 12px auto 38px auto;
}

.userLogin a{
    text-decoration: none;
    color: #0064EB;
}

.followers{
    display: flex;
}

.usersIcon{
    margin-right: 6px;
}

.userIcon{
    margin-right: 4px;
    margin-left: 15px;
}

@media screen and (max-width: 780px){
    .userCard{
        margin: 20px auto;
    }
  }

  @media screen and (max-width: 580px){
    .userCard{
        max-width: 200px;
    }
    .followers{
        display: block;
    }
    .followers div{
        margin-bottom: 20px;
    }
    .userIcon{
        margin-left: 5px;
    }
  }