.emptyContent{
    text-align: center;
    color: #808080;
    font-size: 22px;
    margin: 200px auto;
}

@media screen and (max-width: 640px){
    .emptyContent{
        margin: 80px auto; 
    }
  }